
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton:wght@400&display=swap');

h1,h2,h3,h4,h5,h6 {
    font-family: 'Anton';
}

body {
    background: #fafafa;
    margin: 0;
    font-family: "Roboto";
}

.lnlweb-top {
    display: flex;
    flex-direction: row;
    background: #333;
    padding: 1em;
}

.lnlweb-top > * {
    text-decoration: none;
    color: #fafafa;
    font-family: "Roboto Condensed";
    text-transform: uppercase;
    font-weight: bold;
}

.lnlweb-body {
    display: flex;
    flex-direction: column;
    padding: 1em;
}